@charset "utf-8";
/*************************************************************************
 * XDAQ Components for Distributed Data Acquisition                      *
 * Copyright (C) 2000-2014, CERN.                                        *
 * All rights reserved.                                                  *
 * Authors: A.Forrest, L.Orsini, A.Petrucci								 *
 * For the licensing terms see LICENSE.                                  *
 * For the list of contributors see CREDITS.                             *
 *************************************************************************/

.xdaq-console
{
	border-radius: 10px;
	display:inline-table;
	z-index:10;
	position:relative;
}

.xdaq-console.xdaq-console-fullscreen
{
	position:fixed;
	width:100%;
	top:0px;
	left:0px;
	z-index: 9999999;
}

.xdaq-console.xdaq-console-fullscreen .xdaq-console-content
{
	resize: none;
}

.xdaq-console .xdaq-console-header,
.xdaq-console .xdaq-console-footer
{
	background: #dfdfdf;
	border: 1px solid #999;
	height: 40px;
	line-height: 40px;
	text-align:center;
}

.xdaq-console .xdaq-console-header
{
	border-bottom: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.xdaq-console .xdaq-console-header-error
{
	display: inline;
	float: left;
	padding-left: 15px;
}

.xdaq-console .xdaq-console-footer
{
	border-top: 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.xdaq-console .xdaq-console-footer button
{
	width: 80px;
}

.xdaq-console .xdaq-console-footer input[type=text]
{
	width: 80px;
}

.xdaq-console .xdaq-console-content
{
	resize:both;
	overflow:auto;
	
	background: white;
	
	border: 1px solid #999;
	
	min-height: 200px;
	min-width: 550px;
}

.xdaq-console .xdaq-console-content tr:nth-child(even)
{
	background: #F6F6F6;
}

.xdaq-console .xdaq-console-content table
{
	width:100%;
}

.xdaq-console .xdaq-console-content tr
{
	border: 0px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.xdaq-console .xdaq-console-content tr:hover
{
	background-color: rgb(230, 230, 230);
	border-top:1px solid rgb(66, 184, 221);
	border-bottom:1px solid rgb(66, 184, 221);
	border-style: double;
}

.xdaq-console-expander
{
	height:20px;
	width:20px;
	float:right;
	margin-top: 10px;
	margin-right: 10px;
	opacity: 0.5;
}
.xdaq-console-expander:hover
{
	opacity: 1;
}
.xdaq-console-expander-down
{
	background:url(../../images/framework/xdaq-full-screen-down.png) top no-repeat;
	background-size:100% 100%;
}
.xdaq-console-expander-up
{
	background:url(../../images/framework/xdaq-full-screen-up.png) top no-repeat;
	background-size:100% 100%;
}

.xdaq-console-selected
{
	background-color: rgb(230, 230, 230);
	border-top:1px solid rgb(66, 184, 221);
	border-bottom:1px solid rgb(66, 184, 221);
	border-style: normal;
}

.xdaq-console-row
{
	height:30px;
	vertical-align:middle;
}
