<table>
    <tbody>
        <tr>
            <td>
                <table class="xdaq-table">
                    <caption>Standard XDAQ Table { <mark>xdaq-table</mark> }</caption>
                    <thead>
                        <tr>
                            <th class="xdaq-sortable" data-type="numeric">#</th>
                            <th class="xdaq-sortable">Name</th>
                            <th>Number</th>
                            <th>Country</th>
                        </tr>
                    </thead>
                
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Andy</td>
                            <td>Forty-Two</td>
                            <td>UK</td>
                        </tr>
                
                        <tr>
                            <td>2</td>
                            <td>Luciano</td>
                            <td>Seven</td>
                            <td>Italia</td>
                        </tr>
                
                        <tr>
                            <td>3</td>
                            <td>Andrea</td>
                            <td>Sixty-Six</td>
                            <td>Italia</td>
                        </tr>
                        
                        <tr>
                            <td>4</td>
                            <td>Andy</td>
                            <td>Forty-Two</td>
                            <td>UK</td>
                        </tr>
                
                        <tr>
                            <td>7</td>
                            <td>Andrea</td>
                            <td>Sixty-Six</td>
                            <td>Italia</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Andy</td>
                            <td>Forty-Two</td>
                            <td>UK</td>
                        </tr>
                
                        <tr>
                            <td>20</td>
                            <td>Luciano</td>
                            <td>Seven</td>
                            <td>Italia</td>
                        </tr>
                
                        <tr>
                            <td>30</td>
                            <td>Andrea</td>
                            <td>Sixty-Six</td>
                            <td>Italia</td>
                        </tr>
                        
                        <tr>
                            <td>40</td>
                            <td>Andy</td>
                            <td>Forty-Two</td>
                            <td>UK</td>
                        </tr>
                
                        <tr>
                            <td>70</td>
                            <td>Andrea</td>
                            <td>Sixty-Six</td>
                            <td>Italia</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="20px">
            </td>
            <td>
                <table class="xdaq-table-striped">
                    <caption>Striped XDAQ Table { <mark>xdaq-table-striped</mark> }</caption>
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Contact</th>
                            <th>Country</th>
                        </tr>
                    </thead>                                
                    <tbody>
                        <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>Maria Anders</td>
                            <td>Germany</td>
                        </tr>
                        <tr>
                            <td>Berglunds snabbk̦p</td>
                            <td>Christina Berglund</td>
                            <td>Sweden</td>
                        </tr>
                        <tr>
                            <td>Centro comercial Moctezuma</td>
                            <td>Francisco Chang</td>
                            <td>Mexico</td>
                        </tr>
                        <tr class="xdaq-table-nohover">
                            <td>Ernst Handel</td>
                            <td>NO HOVER HERE</td>
                            <td>Austria</td>
                        </tr>
                        <tr>
                            <td>Island Trading</td>
                            <td>Helen Bennett</td>
                            <td>UK</td>
                        </tr>
                        <tr>
                            <td>K̦niglich Essen</td>
                            <td>Philip Cramer</td>
                            <td>Germany</td>
                        </tr>
                        <tr>
                            <td>Laughing Bacchus Winecellars</td>
                            <td>Yoshi Tannamuri</td>
                            <td>Canada</td>
                        </tr>
                        <tr>
                            <td>Magazzini Alimentari Riuniti</td>
                            <td>Giovanni Rovelli</td>
                            <td>Italy</td>
                        </tr>
                        <tr class="xdaq-table-nohover">
                            <td><button class="xdaq-submit-button" style="width:100%">Submit</button></td>
                            <td colspan="2"></td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br/>
<table>
    <tbody>
        <tr>
            <td>
                <table class="xdaq-table-vertical">
                    <caption>Vertical XDAQ Table { <mark>xdaq-table-vertical</mark> }</caption>
                    <tbody>
                        <tr>
                            <th>url</th>

                            <td>http://srv-c2d06-17.cms/urn:xdaq-application-lid:8</td>
                        </tr>
                
                        <tr>
                            <th>2 - TWO</th>
                            <td>NO</td>
                        </tr>
                
                        <tr>
                            <th>3 - THREE</th>
                            <td>Andrea</td>
                        </tr>
                        
                        <tr>
                            <th>4 - FOUR</th>
                            <td>Andy</td>
                        </tr>
                
                        <tr class="xdaq-table-nohover">
                            <th>5 - FIVE</th>
                            <td>Luciano</td>
                        </tr>
                
                        <tr>
                            <th>6 - SIX</th>
                            <td>Andy</td>
                        </tr>
                
                        <tr>
                            <th>7 - SEVEN</th>
                            <td>Andrea</td>
                        </tr>
                
                        <tr>
                            <th>8 - EIGHT</th>
                            <td>N/A</td>
                        </tr>
                
                        <tr class="xdaq-table-nohover">
                            <td></td>
                            <td><button class="xdaq-submit-button">Submit</button></td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="20px">
            </td>
            <td>
                <table class="xdaq-table-vertical">
                    <caption>Vertical XDAQ Table + Tooltips { <mark>xdaq-tooltip</mark>, <mark>xdaq-tooltip-[type]</mark> }</caption>
                    <tbody>
                        <tr>
                            <th>1 - ONE</th>
                            <td class="xdaq-tooltip">Andy<span class="xdaq-tooltip-info">My message</span></td>
                        </tr>
                        
                        <tr>
                            <th>2 - TWO</th>
                            <td class="xdaq-tooltip">NO<span class="xdaq-tooltip-info">My message</span></td>
                        </tr>
                
                        <tr>
                            <th>3 - THREE</th>
                            <td class="xdaq-tooltip">Andrea<span class="xdaq-tooltip-warn">My message</span></td>
                        </tr>
                        
                        <tr>
                            <th>4 - FOUR</th>
                            <td class="xdaq-tooltip">Andy<span class="xdaq-tooltip-error">My message</span></td>
                        </tr>
                
                        <tr>
                            <th>5 - FIVE</th>
                            <td class="xdaq-tooltip">Luciano<span class="xdaq-tooltip-help">My message</span></td>
                        </tr>
                
                        <tr>
                            <th>6 - SIX</th>
                            <td class="xdaq-tooltip">Andy<span class="xdaq-tooltip-msg">My message</span></td>
                        </tr>
                
                        <tr>
                            <th>7 - SEVEN</th>
                            <td class="xdaq-tooltip">Andrea<span class="xdaq-tooltip-info">My message</span></td>
                        </tr>
                
                        <tr>
                            <th>8 - EIGHT</th>
                            <td class="xdaq-tooltip">N/A</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br/>
<table>
    <tbody>
        <tr>
            <td>
                <table class="xdaq-table-nohover">
                    <caption>Nested XDAQ Tables (Outer : No Hover) { <mark>xdaq-table-nohover</mark> }</caption>
                    <thead>
                        <tr>
                            <th>Company</th>
                            <th>Contact</th>
                            <th>Country</th>
                        </tr>
                    </thead>                                
                    <tbody>
                        <tr>
                            <td>Alfreds Futterkiste</td>
                            <td>
                                <table class="xdaq-table-vertical">
                                    <tbody>
                                        <tr>
                                            <td>A</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>B</td>
                                            <td>2</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>Germany</td>
                        </tr>
                        <tr>
                            <td>Berglunds snabbk̦p</td>
                            <td>
                                <table class="xdaq-table">
                                    <tbody>
                                        <tr>
                                            <td>C</td>
                                            <td>3</td>
                                        </tr>
                                        <tr>
                                            <td>D</td>
                                            <td>4</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>Sweden</td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <td width="20px">
            </td>
            <td>
            	<table class="xdaq-table-matrix">
                    <caption>XDAQ Table Matrix { <mark>xdaq-table-matrix</mark> }</caption>
                    <thead>
                        <tr>
                            <th></th>
                            <th>0</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>0</th>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td>0</td>
                            <td>1</td>
                            <td>2</td>
                            <td>4</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <th>2</th>
                            <td>0</td>
                            <td>2</td>
                            <td>4</td>
                            <td>6</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <th>3</th>
                            <td>0</td>
                            <td>3</td>
                            <td>9</td>
                            <td>12</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <th>4</th>
                            <td>0</td>
                            <td>4</td>
                            <td>8</td>
                            <td>12</td>
                            <td>16</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<br />

